.container {

	max-width: 1100px;
	height: 45rem;
	background-color: #EFEFEF;
	margin: 5rem auto;

	margin-left: 28rem;
	margin-top: 48rem;


}



.form__top h2 {
	font-family: "Marcellus";
	color: #000;
	font-size: 48px;
	text-align: center;
	margin-top: -43rem;

}



.form__reg {
	padding: 18rem;
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
	margin-right: 10rem;
	margin-top: -35rem;
}

.form__reg2 {
	padding: 18rem;
	display: flex;
	flex-direction: column;
	margin-left: 28rem;
	margin-right: -15rem;
	margin-top: -64.6rem;
}

.input,
.btn__submit,
.btn__reset {
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;


	transition: all .5s;
}

.img {
	width: 20%;
}


.im {
	margin-left: 3rem;
	margin-top: 1rem;
	width: 60rem;




}

.im2 {
	margin-left: 3.2rem;
	margin-top: -1rem;
	width: 60rem;




}

.input:focus {
	border-bottom: solid #F39B53 .2rem;
}

.btn__submit {
	width: 15%;
	border-bottom: none;
	color: white;
	margin-left: -10rem;
}

.Boton {
	margin-left: -7.9rem;
	margin-top: -1.5rem;
}

.btn__reset {
	width: 80%;
	border-bottom: none;
	color: white;
	margin-top: -1rem;
	margin-left: -24.5rem;
	font-size: 20px;
}

.btn__reset1 {
	width: 80%;
	border-bottom: none;
	color: white;
	margin-top: 1rem;
	margin-left: 1rem;
	font-size: 20px;
}

.btn__reset2 {
	width: 10%;
	height: 10%;
	border-bottom: none;
	color: white;
	margin-top: 1rem;
	margin-left: 5rem;
	font-size: 20px;
}

.btn__reset,
.btn__reset1,
.btn__reset2 {
	background-color: black;
}

.btn__submit:hover {
	background-color: #4C9ED9;
}

.btn__reset:hover {
	background-color: #FA9535;
}

.btn__reset1:hover {
	background-color: #FA9535;
}