


@media screen and (min-width:320px ){
    .formreg{  
        margin-top: -30px;
        font-size: 12px;
        width: 100%;         
        color: #000;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 25px;
    }
    .form-control{
        font-size: 10px;
    }
    .check{
        margin-top: -30px;
        text-align: center;   
        font-size: 24px;         
    }
    .checkbox{
        font-size: 24px;
    }
    .acepto{        
        color: #000;     
        font-size: 10px;       
    }

    .botonreg{
        margin-top: -50px;
        text-align: center;
    }
    .butreg{            
        width: 200px;
        background-color: rgb(39, 39, 39);
        color: #efefef;
        margin-top: -100px;
        font-size: 10px;
        font-family: Marcellus;
        border-radius: 5px;
    }
    #ti{
        font-size: 40px;
        font-family: Playfair Display;
    }
    #campotip{
        width: 30%;
        font-size: 20px;
    }
}

@media screen and (min-width:1024px ){
.formreg{  
    margin-top: -30px;
    font-size: 12px;
    width: 100%;         
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
}
.form-control{
    font-size: 10px;
}
.check{
    margin-top: -30px;
    text-align: center;   
    font-size: 24px;         
}
.checkbox{
    font-size: 24px;
}
.acepto{        
    color: #000;     
    font-size: 10px;       
}

.botonreg{
    margin-top: -50px;
    text-align: center;
}
.butreg{            
    width: 200px;
    background-color: rgb(39, 39, 39);
    color: #efefef;
    margin-top: -100px;
    font-size: 10px;
    font-family: Marcellus;
    border-radius: 5px;
}
#ti{
    font-size: 40px;
    font-family: Playfair Display;
}
#campotip{
    width: 30%;
    font-size: 20px;
}
}