@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}
@media screen and (min-width:320px ){
  .fondoreg{
    display: flex;               
    background: url(./Fondoreg.jpg);
    width: 100%;
    height: 200%;
    flex-wrap: wrap;
    background-repeat: no-repeat;
}
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;    
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}
@media screen and (min-width:1024px ){
.fondoreg{
    display: flex;               
    background: url(./Fondoreg.jpg);
    width: 100%;
    height: 969px;
    flex-direction: column;
}
}
