@media screen and (min-width:1024px) {
    


#descripcion{
    display: flex;
    padding: 5rem;
    align-items: center;
    justify-content:space-between;
}

.text-descripcion{
    flex-basis: 70%;
    font-size: 20px;
    
}

.img-descripcion{
    flex-basis: 30%;
    text-align: center;
}

.img-descripcion img{
    width: 50%;
}
body{
    background-color: #fff;
}
}

@media screen and (min-width:320px) and (max-width:1023px) {
    #descripcion{
        display: flex;
        padding: 5rem;
        align-items: center;
        justify-content:space-between;
    }
    
    .text-descripcion{
        flex-basis: 100rem;
        font-size: 15px;
       
        
    }
    
    .img-descripcion{
        flex-basis: 30%;
        text-align: center;

    }
    
    .img-descripcion img{
        width: 50%;
        display: none;
        
    }
    body{
        background-color: #fff;
    }
    }
