@media screen and (min-width: 1024px){

#banner{
    background-image: url("slide1.jpg");
    height: 550px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

#banner h7{
    color: var(--blanco);
    background-color: rgba(0, 0, 0, 0.4);
    width: 55%;
    padding: 2rem;
    font-size: 3.5rem;
    margin-bottom: 0.01rem;
}
}
@media screen and (min-width: 320px) and (max-width: 1023px){
    #banner{
        background-image: url("slide1.jpg") ;
        background-position: 62rem;
        height: 550px;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        max-width: 100%;
    }
    
    #banner h7{
        color: #ffff;
        background-color: rgba(0, 0, 0, 0.4);
        width: 63%;
        padding: 2rem;
        font-size: 22px;
        margin-bottom: 0.01rem;
    }
}