@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;    
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

@media screen and (min-width:320px ){
    #fondologin{
        display: flex;   
        justify-content: center;
        background: url(./FondoIndez.png);
        width: 100%;        
        height: 760px;
    }
    .feature2{                 
        background: url(./login.jpg);                                      
        min-width: 30px;
        max-width: 346px;
        height: 50%;
        margin: 4.5rem;
        padding: 1rem;         
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    
     img{
        margin-left: -90px;
         max-width:130px;
         max-height:130px;
         
     }
    #loginform{
        width: 100%;
        padding-top: 13%;
    }
    .feature2 i{            
        background-color: var(--Magenta);
        color: var(--blanco);
        max-width: 10%;            
        align-items: flex-start;
        border-radius: 100px;
        padding: 4%;
        font-size: 1.0em;
        padding-right: 25px;
    }       
    .loguito{
        
        display: flex;
        justify-content: center;
    }  
    #cuenta{
        text-shadow: none;
        font-size: 0px;
        color: var(--blanco);
    }
    .reg{
        text-align: center;
        font-size: 0px;
        color: #000;        
        text-decoration: none;
    }
    .but{       
        
        background-color: #000;
        color: #efefef;
        width: 100%;
        font-size: 20px;
    }
    #usuario{
        color: var(--blanco);
        font-size: 20px;
        padding-right: 139px;
    }
    #campou{
        width: 100%;
        font-size: 20px;
    }  
    #clave{
        
        color: var(--blanco);
        font-size: 20px;
        padding-right: 139px;
    }
    #campop{
        width: 100%;
        font-size: 20px;
    }        
    .submit{
        
        color: var(--blanco);
        font-size: 10px;
        padding-right: 139px;
    }  
}


@media screen and (min-width:1024px ){
#fondologin{
    display: flex;   
    justify-content: center;
    align-content: center;
    background: url(./FondoIndez.png);
    width: 100%;            
    height: 760px;
}               
.feature2{                 
    background: url(./login.jpg);                              
    width: 100%;
    min-width: 30px;
    max-width: 346px;
    height: 52%;
    margin: 4.5rem;
    padding: 1rem;         
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

img{            
    margin-left: -100px;
    max-width:190px;
    max-height:190px;
    
}
#loginform{
    padding-top: 10%;
}
.feature2 i{            
    background-color: var(--Magenta);
    color: var(--blanco);
    max-width: 10%;            
    align-items: center;
    border-radius: 100px;
    padding: 6%;
    font-size: 1.0em;
    padding-right: 30px;
}       
.loguito{
    display: flex;
    justify-content: center;
    
}
#cuenta{
    
    font-size: 15px;
    color: var(--blanco);
}
.reg{
    text-align: center;
    font-size: 15px;
    color: #000;        
    text-decoration: none;
}
.but{            
    margin-top: 10px;
    background-color: #000;
    color: #efefef;
    width: 100%;
    font-size: 20px;
}
#usuario{
    padding-top: 17px;
    color: var(--blanco);
    font-size: 18px;
    padding-right: 139px;
}
#campou{
    font-size: 20px;
    width: 100%;
}  
#clave{
    
    color: var(--blanco);
    font-size: 18px;
    padding-right: 139px;
}
#campop{
    font-size: 20px;
    width: 100%;
}        
.submit{
    
    color: var(--blanco);
    font-size: 10px;
    padding-right: 139px;
}  
}